<div class="main">
  <div class="contact-content">
    <header></header>
    <div class="main-contact">
      <h3 class="head">Movie manager</h3>
      <div class="contact-form">

        <!--- Movie CRUD -->
        <p class="text-right">
          <span class="badge badge-secondary">Total items: {{ (movies | async).length }}</span>
        </p>
        <button class="btn btn-primary" (click)="clearMovies()">Delete All</button>

        <!-- Importing the movie crud -->
        <app-moviecrud></app-moviecrud>

      </div> 
    </div>
  </div>
</div>