<div class="main">
  <div class="contact-content">
    <header></header>
    <div class="main-contact">
      <h3 class="head">LOGIN</h3>
      <div class="contact-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
          <div class="col-md-12 contact-left">
            <input type="text" [formControl]="loginForm.controls['username']" name="username" placeholder="username" required="">
            <input type="password" placeholder="password" [formControl]="loginForm.controls['password']" name="password" required="">
            <input type="submit" [disabled]="!loginForm.valid" value="Login">
          </div>

          <div class="clearfix"></div>
        </form>
      </div>

    </div>

  </div>
</div>