<div class="full">
    <div class="menu">
        <ul>
            <li><a class="active" href="index.html"><i class="home"></i></a></li>
            <li><a *ngIf="isLoggedIn()" [routerLink]="['ticket']"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
            <li><a *ngIf="!isLoggedIn()" [routerLink]="['login']"><div class="bk"><i class="login"></i><i class="login1"></i></div></a></li>
            <li><a *ngIf="isLoggedIn()" (click)="logout()"><div class="bk"><i class="logout"></i><i class="logout1"></i></div></a></li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>