<div class="main">
  <div class="contact-content">
    <header></header>
    <div class="main-contact">
      <h3 class="head">TicketOrder</h3>
      <div class="contact-form">


        <form [formGroup]="ticketOrderForm" (ngSubmit)="onSubmit()">
          <div class="col-md-12  contact-left">

            <div></div>
            <label for="adultCount">Start Time</label>
             <span  *ngIf="!ticketOrderForm.controls['time'].valid">Invalid time</span> <br>
            <select type="text" [formControl]="ticketOrderForm.controls['time']" (change)="onChange($event)">
              <option *ngFor="let time of movie.schedule" [ngValue]="time.startTime">
                {{time.startTime}}
            </option>
            </select>
             <h2 *ngIf="curSchedule">Number of Available seat {{totalSeat}}</h2> 
            <br> <br>
            <label for="adultCount">Ticket count (Adult)</label>
            <span  *ngIf="!ticketOrderForm.controls['time'].valid">Invalid Number</span>
            <input type="text" placeholder="0" [formControl]="ticketOrderForm.controls['adultCount']">
            

             <label for="adultCount">Ticket count (Children)</label>
            <span  *ngIf="!ticketOrderForm.controls['time'].valid">Invalid Number</span>
            <input type="text" placeholder="0" [formControl]="ticketOrderForm.controls['childrenCount']">


            <input type="submit" value="Order" [disabled]="!ticketOrderForm.valid">
          </div>
          <div class="clearfix"></div>
        </form>


      </div>
    </div>
  </div>
</div>
