    <!-- Molomjamts 02/05/2018
    if ticket order is success, this page will show the confirmation message and
     detail information about order.
    -->

<div class="main">
  <div class="contact-content">
    <div class="top-header span_top">
      <div class="logo">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="">
        </a>
        <p>Ticket Order</p>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="main-contact">
    
      <h1>Thank you for ordering ticket!</h1>

      <p>Your ticket detail</p>

      Start time: <b>{{orderedTicket.time}}</b>  ticket (Adult): <b>{{orderedTicket.adultCount}}</b>, ticket (children): <b>{{orderedTicket.childrenCount}}</b>


    </div>
  </div>
</div>