<div class="main">
  <div class="header">
      <div class="top-header">
          <div class="logo">
              <a href="index.html"><img src="images/logo.png" alt="" /></a>
              <p>Movie TICKET</p>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="header-info">
          <h1>BIG HERO 6</h1>
          <p class="age"><a href="#">All Age</a> Don Hall, Chris Williams</p>
          <p class="review">Rating	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;  8,5/10</p>
          <p class="review reviewgo">Genre	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; Animation, Action, Comedy</p>
          <p class="review">Release &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 7 November 2014</p>
          <p class="special">The special bond that develops between plus-sized inflatable robot Baymax, and prodigy Hiro Hamada, who team up with a group of friends to form a band of high-tech heroes.</p>
          <a class="video" [routerLink]="['signup']"><i class="video1"></i>Sign up</a>
          <a class="book" href="#"><i class="book1"></i>BOOK TICKET</a>
      </div>
  </div>
</div>
