<div class="main">
  <div class="contact-content">
    <header></header>
    <div class="main-contact">
      <h3 class="head">Signup</h3>
      <div class="contact-form">
        
        <!--- User Signup Form -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
          <div class="col-md-12  contact-left">

              <div *ngIf="!signupForm.controls['firstname'].valid">Invalid firstname</div>
              <input type="text" placeholder="Firstname" [formControl]="signupForm.controls['firstname']">

              <div *ngIf="!signupForm.controls['lastname'].valid">Invalid lastname</div>
              <input type="text" placeholder="Lastname" [formControl]="signupForm.controls['lastname']">

              <div *ngIf="!signupForm.controls['username'].valid">Invalid username</div>
              <input type="text" placeholder="Username" [formControl]="signupForm.controls['username']">

              <div *ngIf="!signupForm.controls['email'].valid">Invalid email</div>
              <input type="text" 
                     placeholder="E-mail" 
                     [formControl]="signupForm.controls['email']">
              
              <div *ngIf="!signupForm.controls['phone'].valid">Invalid phone</div>
              <input type="text" placeholder="Phone" [formControl]="signupForm.controls['phone']">

              <div *ngIf="!signupForm.controls['password'].valid">Invalid password</div>
              <input type="text" placeholder="Password" [formControl]="signupForm.controls['password']">

              <input type="submit" value="SEND" [disabled]="!signupForm.valid">
            </div>
          <div class="clearfix"></div>
        </form>
        <!-- Form End -->

      </div> 
    </div>
  </div>
</div>
