<div class="main">
  <div class="contact-content">
    <div class="top-header span_top">
      <div class="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
        <p>Movie Theater</p>
      </div>
      
      <div class="clearfix"></div>
    </div>
    <div class="main-contact">
      <h3 class="head">Signup</h3>
      <div class="contact-form">
        
        <!--- User Signup Form -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
          <div class="col-md-12  contact-left">
              <div *ngIf="!signupForm.controls['name'].valid">Invalid name</div>
              <input type="text" placeholder="Name" [formControl]="signupForm.controls['name']">

              <div *ngIf="!signupForm.controls['email'].valid">Invalid email</div>
              <input type="text" 
                     placeholder="E-mail" 
                     [formControl]="signupForm.controls['email']">
              
              <div *ngIf="!signupForm.controls['phone'].valid">Invalid phone</div>
              <input type="text" placeholder="Phone" [formControl]="signupForm.controls['phone']">

              <input type="submit" value="SEND" [disabled]="!signupForm.valid">
            </div>
          <div class="clearfix"></div>
        </form>
        <!-- Form End -->

      </div> 
    </div>
  </div>
</div>
